<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/vaadin-charts/vaadin-chart.html">

<
<dom-module id="grafico-movimientos">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


    <navigation-bar id="receiver"></navigation-bar>
    <!--<style>
      :host {
        display: block;
      }
    </style>-->
    <div class="container">
      <div class="jumbotron ">
    <h2>Detalles de tus movimientos</h2><!-- <button class="btn btn-success" on-click="logout">Logout</button>-->

    <div class="container card mb-3">

      <div class="card-body">
        <div class="card-header">
          <i class="fa fa-table"></i> Movimientos en cuenta {{iban}}</div>
          <div class="card-body">
          <div class="table-responsive">

              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                  <tr>
                    <th>Movimiento</th>
                    <th>Categoría</th>
                    <th>Importe</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <template is="dom-repeat" items="{{movements}}">
                <tbody>
                  <tr>
                    <td>{{item.movement_desc}}</td>
                    <td>{{item.movement_category}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.movement_date}}</td>
                  </tr>
                </tbody>
              </template>
              </table>
            </div>
              </div>
          </div>


        </div>

        <!-- Gráficos-->
  <!--
        <vaadin-chart id="mychart">
      <template is="dom-repeat" items="{{amounts2}}">
        <vaadin-chart-series values="{{item.amount}}"></vaadin-chart-series>
          </template>
    </vaadin-chart>
-->

    <vaadin-chart id="mychart" title="Relación de movimientos en cuenta" subtitle="">
      <!--<x-axis><categories>E, F, M, A, M, J</categories></x-axis>-->
      <vaadin-chart-series values="{{amounts2}}" x-axis-values="[E,F,M,A,M,J]"></vaadin-chart-series>

    </vaadin-chart>


        <!-- Gráficos -->


      </div>
    </div>
    <!--la funcion manejadora es showData-->
    <iron-ajax
      auto=""
      id="getMovements"
      url="http://localhost:3000/mybalance/users/{{userid}}/accounts/{{iban}}/movements"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >


  </template>

    <!--Graficos-->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GraficoMovimientos extends Polymer.Element {
      static get is() { return 'grafico-movimientos'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          userid:{
            type: Number
          },
          iban: {
            type: String
          },
          movements:{
            type: Array
          },
          amounts:{
            type: Array
          },
          amount:{
            type: Number
          },
          xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
          }
        };
      }




      showData(data){ /**es lo que devuelve la función de iron-ajax y nos lo pasa como texto en json**/
        console.log(data);
        console.log("data.detail.response[0].userid " + data.detail.response[0].userid);
        console.log("data.detail.response[0].movements " + data.detail.response[0].movements);
        console.log("data.detail.response[0].movements.length " + data.detail.response[0].movements.length);
        console.log("data.detail.response[0].movements.amount " + data.detail.response[0].movements.amount);
        this.movements = data.detail.response[0].movements;

        //var amounts = [];
        //amounts = new Array(),
        //for (var i = 0; i < data.detail.response[0].movements.length; i++) {
        //  if(i==0){
        //    amounts = amounts + data.detail.response[0].movements[i].amount;
        //  }
        //  else{
        //    amounts = amounts + ','+data.detail.response[0].movements[i].amount;
        //  }
        //}

        var amounts2 = [];
        for (var i = 0; i < data.detail.response[0].movements.length; i++) {
          var new_amounts2 = amounts2.push(data.detail.response[0].movements[i].amount);
        }
        console.log("amounts2 " +amounts2);
        var dates = [];
        for (var i = 0; i < data.detail.response[0].movements.length; i++) {
          //var new_dates = dates.push(data.detail.response[0].movements[i].movement_date);
          //var new_dates2=dates.push(data.detail.response[0].movements[i].movement_date.substr(data.detail.response[0].movements[i].movement_date.length - 10));
          //var new_dates2=dates.push(data.detail.response[0].movements[i].movement_date.split(" ").pop());
          var new_dates2=dates.push(data.detail.response[0].movements[i].movement_date.slice(0,10));

        }
        console.log("dates " +dates);


        //this.amounts = amounts;
        this.amounts2 = amounts2;
        this.dates = dates;
        //console.log("amounts " + amounts);
        //console.log("amounts[2] " +amounts[2]);
        //this.amounts = data.detail.response[0].movements.amount;
        this.userid = data.detail.response[0].userid;
        this.$.receiver.id = this.userid;

        this.$.receiver.iban = this.iban;
      }




      showError(error){
        console.log("Hubo un error");
        console.log(error);
        this.$.receiver.id = this.userid;
      }
    }

    window.customElements.define(GraficoMovimientos.is, GraficoMovimientos);
  </script>
</dom-module>
