<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/vaadin-charts/vaadin-chart.html">

<
<dom-module id="grafico-movimientos">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


    <navigation-bar id="receiver"></navigation-bar>
    <!--<style>
      :host {
        display: block;
      }
    </style>-->
    <div id="chart_div"></div>
    <div class="container">
      <div class="jumbotron ">
    <h2>Detalles de tus movimientos</h2><!-- <button class="btn btn-success" on-click="logout">Logout</button>-->

    <div class="container card mb-3">

      <div class="card-body">
        <div class="card-header">
          <i class="fa fa-table"></i> Movimientos en cuenta {{iban}}</div>
          <div class="card-body">
          <div class="table-responsive">

              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                  <tr>
                    <th>Movimiento</th>
                    <th>Categoría</th>
                    <th>Importe</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <template is="dom-repeat" items="{{movements}}">
                <tbody>
                  <tr>
                    <td>{{item.movement_desc}}</td>
                    <td>{{item.movement_category}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.movement_date}}</td>
                  </tr>
                </tbody>
              </template>
              </table>
            </div>
              </div>
          </div>


        </div>
      </div>
    </div>
    <!--la funcion manejadora es showData-->
    <iron-ajax
      auto=""
      id="getMovements"
      url="http://localhost:3000/mybalance/users/{{userid}}/accounts/{{iban}}/movements"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >


  </template>

  <!--Graficos-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
  </script>

  <!--Graficos-->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GraficoMovimientos extends Polymer.Element {
      static get is() { return 'grafico-movimientos'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          userid:{
            type: Number
          },
          iban: {
            type: String
          },
          movements:{
            type: Array
          }
        };
      }



      drawChart(){


        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'Movimientos');
        data.addRows([
          ['18.10.18', 100],
          ['19.10.18', 100],
          ['18.11.18', -100],
          ['19.11.18', -200],
          ['20.12.18', 1000]
        ]);

        // Set chart options
        var options = {'title':'Movements',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        //var chart = new google.charts.Line(document.getElementById('linechart_material'));
        //chart.draw(data, google.charts.Line.convertOptions(options));
      }


      showData(data){ /**es lo que devuelve la función de iron-ajax y nos lo pasa como texto en json**/
        console.log(data);
        console.log("data.detail.response[0].userid " + data.detail.response[0].userid);
        console.log("data.detail.response[0].movements " + data.detail.response[0].movements);
        this.movements = data.detail.response[0].movements;
        this.userid = data.detail.response[0].userid;
        this.$.receiver.id = this.userid;

        this.$.receiver.iban = this.iban;
      }




      showError(error){
        console.log("Hubo un error");
        console.log(error);
        this.$.receiver.id = this.userid;
      }
    }

    window.customElements.define(GraficoMovimientos.is, GraficoMovimientos);
  </script>
</dom-module>
