<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <!--<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
  <!--<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" type="text/css">-->
  <link href="css/font-awesome.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <!--<link href="css/sb-admin.css" rel="stylesheet">-->
  <link href="css/sbootstrap_template_sbadmin.css" rel="stylesheet">
  <link rel="import" href="../../bower_components/paper-input/paper-input.html">
  <link rel="import" href="../../bower_components/polymer/polymer-element.html">
  <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
  <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

</head>

<body class="bg-dark">
  <dom-module id="login_new-usuario">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Hello, please enter your access data</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <!--<label for="exampleInputEmail1">Email address</label>-->
            <!--<input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">-->
            <paper-input type="email"  label="Email" placeholder="placeholder text" value="{{email::input}}"></paper-input>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
            <paper-input type="password" label="Password" value="{{password::input}}"></paper-input>
          </div>
    <!--      <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember Password</label>
            </div>
          </div>-->
          <a class="btn btn-primary btn-block" on-click="login">Login</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/signup">Sign up</a>
          <a class="d-block small" href="forgot-password.html">Forgot your Password?</a>
        </div>
      </div>
    </div>
  </div>

  <iron-ajax
    id="doLogin"
    url="http://localhost:3000/mybalance/login"
    content-type="application/json"
    method="PUT"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError"
  >



  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login_-usuario'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          isLogged:{
            type: Boolean,
            value:false
          }
        };
      }

    login(){
        console.log("El usuario ha pulsado el botón");
        var loginData = {
          "email":this.email,
          "password":this.password
        };
        this.$.doLogin.body=JSON.stringify(loginData); //convertimos el objeto a un JSON y se lo pasamos al Body
        this.$.doLogin.generateRequest(); //lanzamos la petición. El $ es para acceder a elementos propios del ShadowDom del polymer
        console.log("Petición enviada");
    }

    manageAJAXResponse(data){ //si hay error, va a showError y no va a manageAJAXReponse
      console.log("Recibida respuesta del servidor");
      console.log(data.detail.response);
      //this.isLogged=true;
      //si llegamos hasta este punto, podemos asumir que el login se ha realizado correctamente.
      window.location = "/user/" + data.detail.response.id_insertado; //id_insertado es como yo estoy devolviendo este dato en server.js
    }

    showError(error){
      console.log("Hubo un error");
      console.log(error);
    }

  }//loginUsuario

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
</body>

</html>
