<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">


<dom-module id="footer-bar">
  <template>
    <!--<style>
      :host {
        display: block;
      }
    </style>-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../../css/bootstrap.min.css">
    <link href="../../../css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../../../css/bootstrap_template_sbadmin.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!--<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" type="text/css">-->
    <!--<link href="../../../../css/bootstrap_template_sbadmin.css" rel="stylesheet" type="text/css">-->


<footer class="sticky-footer">
  <div class="container sticky-footer">
    <div class="text-center">
      <small>Copyright © My Balance App 2018</small>
    </div>
  </div>
</footer>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FooterBar extends Polymer.Element {
      static get is() { return 'footer-bar'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          Prop1: {
            type: String,
            value: "Hola"
          }
        };
      }


    }
      window.customElements.define(FooterBar.is, FooterBar);
    </script>
  </dom-module>
