<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="login-usuario">
  <template>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <div class="container">
        <div class="card card-login mt-5 mx-auto"> <!-- -->
          <div class="card-header text-center"><b>¡Bienvenido a My Balance!</b> Introduce tus credenciales para acceder</div>
          <div class="card-body">
            <div class="form-group ">
              <i class="fa fa-envelope prefix"></i><paper-input type="email" label="Email@email.com" value="{{email::input}}"></paper-input>
            </div>
            <div class="form-group ">
              <i class="fa fa-lock prefix"></i><paper-input type="password" label="Password" value="{{password::input}}"></paper-input>
            </div>

            <button class="btn btn-primary btn-block" on-click="login">Login</button> <!--login sería una función manejadora-->
            <!--<span hidden$="{{!isLogged}}">Si esto sale nos podemos ir</span>--> <!--Hidden a true, se muestra. A false no se muestra-->
            <div class="text-center">
              <a class="d-block" href="/signup">Registrarse</a> <!--class="d-block small mt-3"-->
              <a class="d-block" href="/forgot-password">¿Has olvidado la contraseña?</a> <!--class="d-block small"-->
            </div>
          </div>
  </div>
</div>





    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/mybalance/login"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          }
        };
      }

    login(){
        console.log("El usuario ha pulsado el botón");
        var loginData = {
          "email":this.email,
          "password":this.password
        };
        this.$.doLogin.body=JSON.stringify(loginData); //convertimos el objeto a un JSON y se lo pasamos al Body
        this.$.doLogin.generateRequest(); //lanzamos la petición. El $ es para acceder a elementos propios del ShadowDom del polymer
        console.log("Petición enviada");

    }

    manageAJAXResponse(data){ //si hay error, va a showError y no va a manageAJAXReponse
      console.log("Recibida respuesta del servidor");
      console.log(data.detail.response);
      //this.isLogged=true;
      //si llegamos hasta este punto, podemos asumir que el login se ha realizado correctamente.
      localStorage.setItem("isLogged", true);
      window.location = "/user/" + data.detail.response.id_insertado; //id_insertado es como yo estoy devolviendo este dato en server.js

    }

    showError(error){
      console.log("Hubo un error");
      console.log(error);
      window.location = "/relogin";
    }

  }//loginUsuario

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
