<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/vaadin-charts/vaadin-chart.html">



<dom-module id="visor-movimientos">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <navigation-bar id="receiver"></navigation-bar>

    <div class="container">
      <div class="jumbotron ">
        <div class="row">
        <div class="col-sm-4"><h2>Mis movimientos</h2> </div>
        <div class="col-sm-4" align="center"><a class="btn btn-warning center" href="/user/{{userid}}/accounts">Cambiar de Cuenta</a></div>
      </div>

    <div class="container card mb-3">

      <div class="card-body">
        <div class="card-header">
          <i class="fa fa-table"></i> Movimientos en cuenta {{iban}}</div>
          <div class="card-body">
          <div class="table-responsive">

              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                  <tr>
                    <th>Movimiento</th>
                    <th>Categoría</th>
                    <th>Importe (€)</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <template is="dom-repeat" items="{{movements}}">
                <tbody>
                  <tr>
                    <td>{{item.movement_desc}}</td>
                    <td>{{item.movement_category}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.movement_date}}</td>
                  </tr>
                </tbody>
              </template>
              </table>
            </div>
              </div>
          </div>


        </div>

        <vaadin-chart id="mychart" title="Relación de movimientos en cuenta" subtitle="">
          <!--<x-axis><categories>E, F, M, A, M, J</categories></x-axis>-->
          <vaadin-chart-series values="{{amounts2}}" x-axis-values="[E,F,M,A,M,J]"></vaadin-chart-series>

        </vaadin-chart>
      </div>
    </div>
    <!--la funcion manejadora es showData-->
    <iron-ajax
      auto=""
      id="getMovements"
      url="http://localhost:3000/mybalance/users/{{userid}}/accounts/{{iban}}/movements"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          userid:{
            type: Number
          },
          iban: {
            type: String
          },
          movements:{
            type: Array
          },
          amounts:{
            type: Array
          },
          amount:{
            type: Number
          }
        };
      }
      showData(data){ /**es lo que devuelve la función de iron-ajax y nos lo pasa como texto en json**/
        if (localStorage.isLogged == "true"){
          console.log(data);
          console.log(data.detail.response);
          console.log(data.detail.response[0].movements);
          this.movements = data.detail.response[0].movements;

          this.$.receiver.id = this.userid;
          this.$.receiver.iban = this.iban;

          var amounts2 = [];
          for (var i = 0; i < data.detail.response[0].movements.length; i++) {
            var new_amounts2 = amounts2.push(data.detail.response[0].movements[i].amount);
          }
          console.log("amounts2 " +amounts2);
          this.amounts2 = amounts2;
        }else {
          window.location = "/login";
        }

      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
        this.$.receiver.id = this.userid;
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
