<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="signup-usuario">
  <template>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../../css/bootstrap_template_sbadmin.css" rel="stylesheet">

    <div class="container" >
        <div class="card card-login mt-5 mx-auto">
          <div class="card-header text-center">Hola, regístrate como usuario para acceder a <b>My Balance App</b></div>
          <div class="card-body">
            <!--<form>-->
              <div class="form-group">
                <paper-input type="text" label="Nombre" value="{{first_name::input}}" required></paper-input>
              </div>
              <div class="form-group">
                <paper-input type="text" label="Apellidos" value="{{last_name::input}}" required></paper-input>
              </div>
              <div class="form-group">
                <paper-input type="text" label="Dirección" value="{{address::input}}" required></paper-input>
              </div>
              <div class="form-group">
                <paper-input type="text" label="Código Postal" value="{{zip_code::input}}" required></paper-input>
              </div>
              <div class="form-group">
                <paper-input type="text" label="Ciudad" value="{{city::input}}" required></paper-input>
              </div>
              <div class="form-group">
                <paper-input type="text" label="País" value="{{country::input}}" required></paper-input>
              </div>
              <div class="form-group">
                <paper-input  type="email" label="Email@email.com" value="{{email::input}}" required auto-validate  pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b" error-message="Importante asegurar formato correcto de email"></paper-input>
              </div>
              <div class="form-group">
                <paper-input type="password" label="Password" value="{{password::input}}" required id="password" ></paper-input>
              </div>
              <div class="form-group">
                <paper-input type="password" label="Confirmar Password" value="{{confirm_password::input}}" required id="confirm_password" ><span id='alert'></span></paper-input>
              </div>
              <div class="text-center">

              <button class="btn btn-primary btn-block" on-click="signup">Registrarse</button>
            </div>
            <!--</form>-->
            <div class="text-center">
              <a class="d-block" href="/login">Volver a Entrar</a> <!--class="d-block small mt-3"-->
            </div>

          </div>
        </div>
      </div>


    <iron-ajax
      id="doSignup"
      url="http://localhost:3000/mybalance/users"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class SignupUsuario extends Polymer.Element {
      static get is() { return 'signup-usuario'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          id : {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name:{
            type: String
          },
          address: {
            type: String
          },
          zip_code: {
            type: String
          },
          city: {
            type: String
          },
          country: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          }

        };
      }



    signup(){
        console.log("El usuario ha pulsado el botón de Sign up");

        if(this.password!=this.confirm_password){
          alert("Passwords tienen que ser iguales");
          return 1;
        }



        var signupData = {
          "first_name":this.first_name,
          "last_name":this.last_name,
          "address":this.address,
          "zip_code":this.zip_code,
          "city":this.city,
          "country":this.country,
          "email":this.email,
          "password":this.password
        };
        this.$.doSignup.body=JSON.stringify(signupData); //convertimos el objeto a un JSON y se lo pasamos al Body
        this.$.doSignup.generateRequest(); //lanzamos la petición. El $ es para acceder a elementos propios del ShadowDom del polymer
        console.log("Petición Signup enviada");
    }

    manageAJAXResponse(data){ //si hay error, va a showError y no va a manageAJAXReponse
      console.log("Recibida respuesta del servidor");
      console.log(data.detail.response);
      //this.isLogged=true;
      //si llegamos hasta este punto, podemos asumir que el login se ha realizado correctamente.

      window.location = "/user/" + data.detail.response.id; //id_insertado es como yo estoy devolviendo este dato en server.js
      localStorage.setItem("isLogged", true);
    }

    showError(error){
      console.log("Hubo un error");
      console.log(error);
    }

  }//loginUsuario

    window.customElements.define(SignupUsuario.is, SignupUsuario);
  </script>
</dom-module>
