<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <navigation-bar id="receiver"></navigation-bar>

<div class="container">
  <div class="jumbotron">

    <div class="row">
    <div class="col-sm-4"><h2 >Mis Cuentas</h2> </div>
    <div class="col-sm-4" align="center"><a class="btn btn-warning center" on-click="createAccount">Generar Cuenta</a></div>

  </div>
      <template is="dom-repeat" items="{{accounts}}">
        <div class="container card mb-3 mt-2">
          <div class="card-header">
            <i class="fa fa-table"></i> Cuenta tipo {{item.accounttype}}</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>IBAN</th>
                  <th>Saldo (€)</th>
                  <th>Movimientos</th>
                  <th>Operar</th>
                  </tr>
                </thead>

                    <tbody>
                      <tr>
                        <td class="align-middle">{{item.iban}}</td>
                        <td class="align-middle text-center">{{item.balance}}</td>
                        <td class="align-middle"><button class="btn btn-link">
                          <a href="/user/{{userid}}/accounts/{{item.iban}}/movements">Ver mis movimientos</a>
                        </button></td>
                        <td><button class="btn btn-link">
                          <a href="/user/{{userid}}/accounts/{{item.iban}}/movements/operate">Operar con cuenta</a><br>
                          <a href="/user/{{userid}}/accounts/{{item.iban}}/movements/transfer">Traspaso/Transferencia</a>
                        </button></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <div></div>


            </div>
          </div>
</div>
</div>
    </template>


    <!--la funcion manejadora es showData-->
    <iron-ajax
      auto=""
      id="getAccounts"
      url="http://localhost:3000/mybalance/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
    >

    <iron-ajax
      id="createAccount"
      url="http://localhost:3000/mybalance/users/{{userid}}/accounts"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse_newAccount"
      on-error="showError_newAccount"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          userid:{
            type: Number
          },
          iban: {
            type: String
          },
          balance:{
            type: Number
          },
          accounttype:{
            type:String
          }
        };
      }
      showData(data){ /**es lo que devuelve la función de iron-ajax y nos lo pasa como texto en json**/
        console.log(data);
        console.log(data.detail.response);
        if (localStorage.isLogged == "true"){
            this.accounts = data.detail.response;
            this.$.receiver.id =this.userid;
            this.$.receiver.iban =this.accounts[0].iban;
            //console.log("this.userid " +this.userid);
            //console.log("this.iban " +this.accounts[0].iban);
            //console.log("this.accounts " + this.accounts[0]);
        }else {
            window.location = "/login";
        }
        /**
        console.log(data.detail.response.userid);
        console.log(data.detail.response.iban);
        console.log(data.detail.response.balance);

        this.userid = data.detail.response.userid;
        this.iban = data.detail.response.iban;
        this.balance = data.detail.response.balance;
        */



      }

      createAccount(){
        console.log("El usuario ha pulsado el botón de creación de cuenta");
        console.log("this.id - " + this.userid);
        var accountData = {
            "id":this.userid
        };
          this.$.createAccount.body=JSON.stringify(accountData); //convertimos el objeto a un JSON y se lo pasamos al Body
          console.log("this.$.createAccount.body - " + this.$.createAccount.body);
          //var logoutData = this.id;
          //this.$.doLogout.body = logoutData;
          this.$.createAccount.generateRequest(); //lanzamos la petición. El $ es para acceder a elementos propios del ShadowDom del polymer
          console.log("Petición de creación de cuenta enviada");
      }

      manageAJAXResponse_newAccount(data){ //si hay error, va a showError y no va a manageAJAXReponse
        console.log("Recibida respuesta de creación del cuenta del servidor");
        console.log(data.detail.response);
        //this.isLogged=true;
        //si llegamos hasta este punto, podemos asumir que el login se ha realizado correctamente.
        window.location = "/user/" + data.detail.response.userid + "/accounts"; //id_insertado es como yo estoy devolviendo este dato en server.js
        //window.location = "/logout";
      }


      showError_newAccount(error){
        console.log("Hubo un error");
        console.log(error);
        this.$.receiver.id =this.userid;
        console.log("this.userid (error) " +this.userid);
      }


    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
