<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <!--<style>
      :host {
        display: block;
      }
    </style>-->

    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

    <navigation-bar id="receiver"></navigation-bar>

    <div class="container">
      <div class="jumbotron ">
        <div class="row">

          <h2 class="col-md-12">¡Bienvenido {{first_name}}!</h2>
        </div>
        <div class="col-md-5">

          <button class="btn btn-link">
            <a href="/user/{{id}}/accounts">Acceder a mis cuentas</a>
          </button>
        </div>
        <div >
          <h6 class="col-md-5 mt-4">Información del tiempo</h6>
          <div class="row"><p class="col-md-12" style="text-align:center;">
            <iframe margin="0 auto" src="http://api.openweathermap.org/data/2.5/weather?q={{city}}&mode=html&APPID=4013de72c07dac3fe084f974112e7105" name="apiweather" allowTransparency="true" scrolling="no" frameborder="0" ></iframe>
            </p>


          </div>

        </div>
        <div>
          <h6 class="col-md-5 mt-4">Información de intereses sobre mi ubicación</h6>
          <div >
          <img class="rounded mx-auto d-block" width="600" src="https://maps.googleapis.com/maps/api/staticmap?center={{full_address}}&zoom=14&size=600x400&maptype=roadmap&format=png&visual_refresh=true&markers=color:red%7Clabel:C%7C{{full_address}}&key=AIzaSyDn4AjLfhDDVLbGP3A8wzpl7YzEW_ORvek">
        </div>
        </div>
    </div>
  </div>



    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/mybalance/users/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          first_name:{
            type: String
          },
          last_name: {
            type: String
          },
          id:{
            type: Number
          },
          email:{
            type: String
          },
          address:{
            type: String
          },
          city:{
            type: String
          },
          logged:{
            type: Boolean
          },
          full_address:{
            type: String
          }
        };
      }
      showData(data){ /**es lo que devuelve la función de iron-ajax y nos lo pasa como texto en json**/
        console.log("localStorage.isLogged - "+localStorage.isLogged);
        if (localStorage.isLogged == "true"){
          console.log("1_localStorage.isLogged - "+localStorage.isLogged);
          console.log(data);
          console.log(data.detail.response);
          console.log(data.detail.response[0].id);
          console.log(data.detail.response[0].email);

          this.id = data.detail.response[0].id;
          this.first_name = data.detail.response[0].first_name;
          this.last_name = data.detail.response[0].last_name;
          this.email = data.detail.response[0].email;
          this.address = data.detail.response[0].address;
          this.city = data.detail.response[0].city;
          this.full_address = data.detail.response[0].full_address;
          this.logged = data.detail.response[0].logged;


          this.$.receiver.id = this.id;
          this.$.receiver.logged = this.logged;

        }
        else{
          console.log("2_localStorage.isLogged - "+localStorage.isLogged);
          window.location = "/login";

          }
        }

      showError(error){
        console.log("Hubo un error");
        console.log(error);

      }
}
    window.customElements.define(VisorUsuario.is, VisorUsuario);

  </script>
</dom-module>
