<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">


<dom-module id="forgot-password">
  <template>
    <!--<style>
      :host {
        display: block;
      }
    </style>-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link href="../../css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../../css/bootstrap_template_sbadmin.css" rel="stylesheet">
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header text-center">Resetear contraseña</div>
        <div class="card-body">
          <div class="text-center mt-4 mb-5">
            <h4>¿Has olvidado la contraseña?</h4>
            <p>Introduce tu correo electrónico y te enviaremos instrucciones para resetear la contraseña.</p>
          </div>
          <form>

              <div class="form-group">
              <!--<input  class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Email">-->
              <paper-input type="email" label="Email" value="{{email::input}}"></paper-input>
            </div>
            <a class="btn btn-primary btn-block" href=
"mailto:support@mybalance.com?body=Reseteo contraseña para {{email}} ,subject=Solicitud Reseteo Contraseña">Resetear Contraseña</a>
          </form>

          <div class="text-center">
            <a class="d-block " href="/signup">Registrarse</a>
            <a class="d-block " href="/login">Volver a Entrar</a>
          </div>
        </div>
      </div>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/mybalance/login"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ForgotPassword extends Polymer.Element {
      static get is() { return 'forgot-password'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          isLogged:{
            type: Boolean,
            value:false
          }
        };
      }

    login(){
        console.log("El usuario ha pulsado el botón");
        var loginData = {
          "email":this.email,
          "password":this.password
        };
        this.$.doLogin.body=JSON.stringify(loginData); //convertimos el objeto a un JSON y se lo pasamos al Body
        this.$.doLogin.generateRequest(); //lanzamos la petición. El $ es para acceder a elementos propios del ShadowDom del polymer
        console.log("Petición enviada");
    }

    manageAJAXResponse(data){ //si hay error, va a showError y no va a manageAJAXReponse
      console.log("Recibida respuesta del servidor");
      console.log(data.detail.response);
      //this.isLogged=true;
      //si llegamos hasta este punto, podemos asumir que el login se ha realizado correctamente.
      window.location = "/user/" + data.detail.response.id_insertado; //id_insertado es como yo estoy devolviendo este dato en server.js
    }

    showError(error){
      console.log("Hubo un error");
      console.log(error);
    }

  }//loginUsuario

    window.customElements.define(ForgotPassword.is, ForgotPassword);
  </script>
</dom-module>
