<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-contrataciones">
  <template>
    <!--<style>
      :host {
        display: block;
      }
    </style>-->

    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

    <navigation-bar id="receiver"></navigation-bar>

    <div class="container">
      <div class="jumbotron ">
        <div class="raw">

          <div class="col-lg-6"><h2 >En Construcción  </h2> </div>
    <br><br>
          <div class="center-block">
                         <!-- iframe src="http://ifbaspst.infobolsanet.com/ifblayout2/Layout.aspx?layout=ResumenIbex&client=MOD_Infobolsa" style="width: 420px; height: 132px; border: 0px" scrolling="no" frameborder="0">
                         </iframe -->
                         <iframe src="http://asp.infobolsanet.com/ifblayout/Layout.aspx?layout=ResumenIbex&amp;client=MOD_Infobolsa" style="width: 420px; height: 132px;" scrolling="no" frameborder="0">
                         </iframe>
                 </div>


        </div>
    </div>
  </div>



    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/mybalance/users/{{id}}"
      handle-as="json"
      on-response="showData"

    >

    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorContrataciones extends Polymer.Element {
      static get is() { return 'visor-contrataciones'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          id:{
            type: Number
          }
        };
      }
      showData(data){ /**es lo que devuelve la función de iron-ajax y nos lo pasa como texto en json**/
        console.log("localStorage.isLogged - "+localStorage.isLogged);
        if (localStorage.isLogged == "true"){
          console.log("1_localStorage.isLogged - "+localStorage.isLogged);
          console.log(data);

          console.log(data.detail.response[0].id);

          this.id = data.detail.response[0].id;
          this.$.receiver.id = this.id;
          //this.$.receiver.logged = this.logged;

        }
        else{
          console.log("2_localStorage.isLogged - "+localStorage.isLogged);
          window.location = "/login";

          }
        }


}
    window.customElements.define(VisorContrataciones.is, VisorContrataciones);

  </script>
</dom-module>
