<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">


<dom-module id="navigation-bar">
  <template >

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </head>


<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color: #072146;">
  <a class="navbar-brand" href="/user/{{id}}"><b>My Balance App</b></a>

  <div class="collapse navbar-collapse" id="navbarResponsive">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" >

      <a class="nav-link mr-lg-2" href="/user/{{id}}/edit">
        <i class="fa fa-fw fa-user"></i>
        <span class="nav-link-text">Mi Perfil</span>
      </a>

      </li>
      <li class="nav-item "> <!--dropdown-->
        <a class="nav-link  mr-lg-2" id="messagesDropdown" href="mailto:support@mybalance.com?subject=feedback from My Balance User {{id}}" ><!--dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"-->
          <i class="fa fa-fw fa-envelope"></i><a href="mailto:support@mybalance.com?subject=feedback, body=Feedback from user {{id}}"></a>
          <span class="d-lg-none">Messages

          </span>

        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link  mr-lg-2" id="alertsDropdown" href="#" >
          <i class="fa fa-fw fa-bell"></i>
          <span class="d-lg-none">Alerts

          </span>

        </a>
      </li>
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0 mr-lg-2">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for...">
            <span class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>

      </li>
      <li class="nav-item"><div>
        <a class="nav-link mt-0 pt-0" ><!--data-toggle="modal" data-target="#exampleModal">-->
          <button class="btn btn-success" on-click="logout"><i class="fas fa-sign-out-alt"></i>Logout</button></a></div>
      </li>
    </ul>
  </div>
</nav>


<div >
  <div class="container-fluid">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/user/{{id}}">My Balance</a>
      </li>
      <li class="breadcrumb-item active">Mis Aplicaciones</li>
    </ol>

    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">

              <i class="fas fa-tachometer-alt"></i>
            </div>
            <div class="mr-5">Mi Posición Global</div>
          </div>

          <a class="card-footer text-white clearfix small z-1" href="/user/{{id}}/accounts">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-list"></i>
            </div>
            <div class="mr-5">Mis Operaciones </div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/user/{{id}}/accounts/{{iban}}/movements/operate">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-heart"></i>
            </div>
            <div class="mr-5">Mi Salud Financiera</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/user/{{id}}/salud-financiera">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-shopping-cart"></i>
            </div>
            <div class="mr-5">Mis Contrataciones</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/user/{{id}}/visor-contrataciones">
            <span class="float-left">Próximamente</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/mybalance/logout/{{id}}"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class NavigationBar extends Polymer.GestureEventListeners(Polymer.Element) {
      static get is() { return 'navigation-bar'; }
      static get properties() {
        return {
          isLogged : {
            type : Boolean,
            observer :'_userStatusChanged' //observador - función que será invocada cuando varíe el valor de esa función
          }, id : {
            type : Number
          }
        };
      }

      showData(data){
        console.log("Datos recibidos en el receptor");
        console.log(data);
        this.isLogged = data.isLogged;
        this.id = data.id;
      }

      _courseChanged(newValue,oldValue){
        console.log("El valor del estado del usuario ha cambiado");
        console.log("El valor antiguo era "+ oldValue);
        console.log("El valor nuevo es "+ newValue);
      }

      logout(){
          console.log("El usuario ha pulsado el botón de logout");
          console.log("this.id - " + this.id);
          var logoutData = {
            "id":this.id
          };
          this.$.doLogout.body=JSON.stringify(logoutData); //convertimos el objeto a un JSON y se lo pasamos al Body
          console.log("this.$.doLogout.body - " + this.$.doLogout.body);
          //var logoutData = this.id;
          //this.$.doLogout.body = logoutData;
          this.$.doLogout.generateRequest(); //lanzamos la petición. El $ es para acceder a elementos propios del ShadowDom del polymer
          console.log("Petición logout enviada");

      }
      manageAJAXResponse(data){ //si hay error, va a showError y no va a manageAJAXReponse
        console.log("Recibida respuesta logout del servidor");
        console.log(data.detail.response);
        //this.isLogged=true;
        //si llegamos hasta este punto, podemos asumir que el login se ha realizado correctamente.
        window.location = "/logout/" + data.detail.response.id; //id_insertado es como yo estoy devolviendo este dato en server.js
        //window.location = "/logout";
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }


    }
      window.customElements.define(NavigationBar.is, NavigationBar);
    </script>
</dom-module>
