<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="logout-usuario">
  <template>
    <style>
/*    :host {
        display: block;
      }*/
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="container">
      <div class="jumbotron ">
        <div class="row">
          <!--<h2>Hello [[prop1]]!</h2>-->
          <h2 class="col-md-12">¡Hasta Pronto {{first_name}}!</h2>
          <div class="col-md-5">
            <!--<h2 class="col-md-5">Soy id {{id}}</h2>
            <h2 class="col-md-5">y mi email es {{email}}</h2>-->
            <button class="btn btn-link">
              <a href="/login">Volver a Entrar</a>
            </button>
          </div>
        </div>
        </div>
        </div>

        <iron-ajax
        auto=""
        id="getloggedoutUser"
        url="http://localhost:3000/mybalance/users/{{id}}"
        handle-as="json"
        on-response="showData"
        on-error="showError"
      >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          id: {
            type : Number
          },
          first_name :{
            type: String
          }

        };
      }
      showData(data){ /**es lo que devuelve la función de iron-ajax y nos lo pasa como texto en json**/
        console.log(data);
        //console.log("data.detail.reponse ID -" + data.detail.response.id);
        //console.log("data.detail.reponse first_name -"  + data.detail.response.first_name);


        this.id = data.detail.response.id;
        this.first_name = data.detail.response.first_name;

        localStorage.removeItem("isLogged");
        //localStorage.seItem("isLogged", false);

      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
        //localStorage.removeItem("isLogged");
      }

  }//logoutUsuario

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);

  </script>
</dom-module>
