<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="my-balance">
<template>
  <style>
    :host {
      display: block;
    }
    .navbar-bg {
    background-color: #072146;
    color: #018787;
    }
    .navbar-brand {
      background-color: #072146;
      color: #FAFAFA;
    }
    .body-bg {
    background-color: #004481;
    color: #5BBEFF;
    }
    .navbar-li {
      padding-top:10px;
      float: right;
      display: inline;
      text-align: right;
    }
    footer {
    background-color: #072146;
    color: #018787;
    padding: 15px;
    }
    .modal-header, h4, .close {
      background-color: #A0CED9;
      color:white !important;
      text-align: center;
      font-size: 30px;
    }
    .modal-footer {
      background-color: #f9f9f9;
    }
    .carousel .item > img { display: inline-block; }
    .carousel-inner { text-align: center; }
  </style>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




    <nav >
      <div class="navbar-bg container-fluid">
        <div>
          <a class="navbar-brand" href="#">MyBalance</a>
        </div>
        <div class="navbar-li"><span class="glyphicon glyphicon-envelope"></span>
          <a href="#" class="btn btn-info my-2 my-sm-0"  data-toggle="modal" data-target="#myModal">Log in</a>

          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                  <form role="form">
                    <div class="form-group">
                      <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                      <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                      <input type="text" class="form-control" id="psw" placeholder="Enter password">
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="" checked>Remember me</label>
                    </div>
                      <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                  <p>Not a member? <a href="#">Sign Up</a></p>
                  <p>Forgot <a href="#">Password?</a></p>
                </div>
              </div>

            </div>
          </div>

        <a href="#" class="btn btn-warning my-2 my-sm-0">Sign up</a>
        </div>
      </div>
    </nav>
<!--
    <div class="container-fluid body-bg">
      <h2 class="text-center">Carousel Example</h2>
      <div id="myCarousel" class="carousel slide " >
      -->
        <!-- Indicators -->
        <!--
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
      -->
        <!-- Wrapper for slides -->
        <!--
        <div class="container carousel-inner">
          <div class="item active">
            <img src="src/my-balance/images/IGC_Efficiency_Cost_Mgmt_300x300.png" alt="Los Angeles" style="width:40%;">
          </div>

          <div class="item">
            <img src="src/my-balance/images/IGC_FinancialMonitoring_300x300.png" alt="Chicago" style="width:40%;">
          </div>

          <div class="item">
            <img src="src/my-balance/images/IGC_StrategicKPIs_300x300.png" alt="New york" style="width:40%;">
          </div>
        </div>
-->
        <!-- Left and right controls -->
        <!--
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

        <footer class="container-fluid text-center">
          <p>Footer Text</p>
        </footer>
-->

</template>
<script>
    class MyBalance extends Polymer.Element {
      static get is() { return 'my-balance'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'MyBalance-app'
          }
        };
      }
    }


    window.customElements.define(MyBalance.is, MyBalance);

    $(document).ready(function(){

        $("#myBtn").click(function(){
            $("#myModal").modal();


        });
    });


  </script>
</dom-module>
