<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mybalancedelete-app">
  <template>
    <style>
      :host {
        display: block;
      }
      .navbar-bg {
      background-color: #072146;
      color: #018787;
      }
      .navbar-brand {
        background-color: #072146;
        color: #FAFAFA;
      }
      .body-bg {
      background-color: #004481;
      color: #5BBEFF;

      }


      .navbar-li {
        padding-top:10px;
        float: right;
        display: inline;
        text-align: right;
      }


      /*
      .navbar-li a {
      }
        .row.content {height: 450px}
      */

      /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

    /* Set black background color, white text and some padding */
    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    /* Center the image and position the close button */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }



    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }


    </style>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta charset="utf-8">


  <h2>Hello [[prop1]]!</h2>


<div class="container">
  <h2>Carousel Example</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="src/mybalance-app/images/IGC_Efficiency_Cost_Mgmt_300x300.png" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item">
        <img src="src/mybalance-app/images/IGC_FinancialMonitoring_300x300.png" alt="Chicago" style="width:100%;">
      </div>

      <div class="item">
        <img src="src/mybalance-app/images/IGC_StrategicKPIs_300x300.png" alt="New york" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MybalanceDeleteApp extends Polymer.Element {
      static get is() { return 'mybalancedelete-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'MyBalanceDelete-app'
          }
        };
      }
    }

    window.customElements.define(MybalanceDeleteApp.is, MybalanceDeleteApp);

  </script>
</dom-module>
