<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="usuario-actualizado">
  <template>

    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  </head>

    <navigation-bar id="receiver"></navigation-bar>

    <div class="container">
      <div class="jumbotron ">
        <div class="row">

          <h2 class="col-md-12">{{first_name}}, tus datos se han actualizado.</h1>
        </div>
        <div class="col-md-5">

          <button class="btn btn-link">
            <a href="/user/{{id}}/accounts">Acceder a mis cuentas</a>
          </button>
        </div>


    </div>
  </div>


    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/mybalance/users/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UsuarioActualizado extends Polymer.Element {
      static get is() { return 'usuario-actualizado'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          first_name:{
            type: String
          },
          id:{
            type: Number
          },
          logged:{
           type: Boolean
          },

        };
      }
      showData(data){ /**es lo que devuelve la función de iron-ajax y nos lo pasa como texto en json**/
        if (localStorage.isLogged == "true"){
          console.log(data);
          console.log(data.detail.response);
          console.log(data.detail.response[0].id);

          this.id = data.detail.response[0].id;
          this.first_name = data.detail.response[0].first_name;


          this.$.receiver.id = this.id;
          //this.$.receiver.isLogged = this.isLogged;
          //window.location = "/user/"+ this.id + "/updated";
        }else {
          window.location = "/login";
        }

        }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
        window.location = "/login";
      }

    }

    window.customElements.define(UsuarioActualizado.is, UsuarioActualizado);
  </script>
</dom-module>
