<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<!--<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">-->

<dom-module id="operar-cuenta">
  <template>
  <style>
    .conditional_form_part {
      display: none;
    }
    span {
      visibility: hidden;
      display: none;
    }
  </style>

  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  </head>

  <navigation-bar id="receiver"></navigation-bar>

<div class="container" >
    <div class="jumbotron">
      <div class="row">
      <div class="col-sm-2"><h2 class="col-sm-12">Operar</h2> </div>
      <div class="col-sm-5" align="center"><a class="btn btn-warning center" href="/user/{{userid}}/accounts">Cambiar de Cuenta</a></div>
      <div class="col-sm-5"><a class="btn btn-secondary center-block" href="/user/{{userid}}/accounts/{{iban}}/movements/transfer">Hacer Transferencia/Traspaso</a></div>
    </div>
    <div class="card card-login mt-5 mx-auto"> <!-- -->
      <div class="card-header text-center">Operar con cuenta {{iban}}</div>
      <div class="card-body">
        <!--<form>-->
          <div class="form-group">
            <paper-input type="text" label="Concepto" value="{{movement_desc::input}}"> </paper-input>
          </div>
          <div class="form-group">
            <!--<paper-input type="text" label="Category" value="{{movement_category::input}}"></paper-input>-->
            <label for="inputState">Categoría</label>
              <select id="inputState" class="form-control" value="{{movement_category::input}}">
                <option selected>Escoger...</option>
                <option>Ingreso</option>
                <option>Reintegro</option>
              </select>
          </div>

          <div class="form-group">
            <paper-input type="number" label="Cantidad (€)" value="{{amount::input}}"></paper-input>

          </div>
          <div class="text-center">

          <button class="btn btn-primary btn-block" on-click="process" >Registrar movimiento</button>
        </div>
        <!--</form>-->
        <div class="text-center">
          <a class="d-block" href="/user/{{userid}}/accounts">Volver a Posición Global</a> <!--class="d-block small mt-3"-->
        </div>

      </div>
    </div>
  </div>
  </div>



    <!--la funcion manejadora es showData-    -->
    <iron-ajax
      auto=""
      id=""
      url=""
      handle-as=""
      on-response="showData"

    >
    <iron-ajax
      id="putMovement"
      url="http://localhost:3000/mybalance/users/{{userid}}/accounts/{{iban}}/movements"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

    <iron-ajax
      id="doAggregate"
      url="http://localhost:3000/mybalance/users/{{userid}}/accounts/{{iban}}/aggregate"
      content-type="application/json"
      method="PUT"
      handle-as="json"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class OperarCuenta extends Polymer.Element {
      static get is() { return 'operar-cuenta'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          userid:{
            type: Number
          },
          iban: {
            type: String
          },
          amount:{
            type: Number
          },
          balance:{
            ype: Number
          },
          ingresos:{
            type: Number
          }
          ,
          movement_desc:{
            type: String
          },
          date:{
            type: Date
          },
          movement_category:{
            type: String
          }/**,
          movement_currency:{
            type: String
          }*/
        };
      }

      showData(data){ /**es lo que devuelve la función de iron-ajax y nos lo pasa como texto en json**/
        if (localStorage.isLogged == "true"){
          this.$.receiver.id = this.userid;
          this.$.receiver.iban = this.iban;
          //this.$.receiver.isLogged = this.isLogged;
        }else {
          window.location = "/login";
        }
      }

      process(){
          console.log("El usuario ha pulsado el botón de operar");
          var movementData = {
            "userid":this.userid,
            "iban":this.iban,
            "movement_desc":this.movement_desc,
            "movement_category":this.movement_category,
            "movement_currency":this.movement_currency,
            "amount":this.amount
          };
          this.$.putMovement.body=JSON.stringify(movementData); //convertimos el objeto a un JSON y se lo pasamos al Body
          this.$.putMovement.generateRequest(); //lanzamos la petición. El $ es para acceder a elementos propios del ShadowDom del polymer
          console.log("Petición enviada");




      }

      /*
      aggregate(){
          console.log("Se inicia la agregación");
          var movementData = {
            "userid":this.userid,
            "iban":this.iban,
          };
          this.$.doAggregate.body=JSON.stringify(movementData); //convertimos el objeto a un JSON y se lo pasamos al Body
          this.$.doAggregate.generateRequest(); //lanzamos la petición. El $ es para acceder a elementos propios del ShadowDom del polymer
          console.log("Petición de agregación enviada enviada");

      }*/



      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        console.log("Processdata id "+data.detail.response);

        console.log("Se inicia la agregación");
        var movementData = {
          "userid":this.userid,
          "iban":this.iban,
        };
        this.$.doAggregate.body=JSON.stringify(movementData); //convertimos el objeto a un JSON y se lo pasamos al Body
        this.$.doAggregate.generateRequest(); //lanzamos la petición. El $ es para acceder a elementos propios del ShadowDom del polymer
        console.log("Petición de agregación enviada enviada");

        window.location = "/user/" + data.detail.response.id + "/accounts/"+ data.detail.response.iban+"/movements";
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(OperarCuenta.is, OperarCuenta);
  </script>
</dom-module>
