<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<!--<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">-->

<dom-module id="editar-usuario">
  <template>

  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  </head>

  <navigation-bar id="receiver"></navigation-bar>

<div class="container" >
    <div class="jumbotron">
      <div class="card-body"> <h5 class="text-white pl-2 rounded pt-1 pb-1" style="background-color: #004481;">Edita tus datos</h5>
          <div class="form-group">
            <paper-input type="text" label="Nombre" value="{{first_name::input}}">{{first_name}}</paper-input>
          </div>
          <div class="form-group">
            <paper-input type="text" label="Apellidos" value="{{last_name::input}}">{{last_name}}</paper-input>
          </div>
          <div class="form-group">
            <paper-input type="text" label="Dirección" value="{{address::input}}">{{address}}</paper-input>
          </div>
          <div class="form-group">
            <paper-input type="text" label="Código Postal" value="{{zip_code::input}}">{{zip_code}}</paper-input>
          </div>
          <div class="form-group">
            <paper-input type="text" label="Ciudad" value="{{city::input}}">{{city}}</paper-input>
          </div>
          <div class="form-group">
            <paper-input type="text" label="País" value="{{country::input}}">{{country}}</paper-input>
          </div>
          <div class="form-group">
            <paper-input type="email" label="Email" value="{{email::input}}" required auto-validate  pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b" error-message="Importante asegurar formato correcto de email">{{email}}</paper-input>
          </div>

          <div class="text-center">
            <button class="btn btn-primary btn-block" on-click="editUser">Editar datos</button>
          </div>
        </div>
        <div class="card-body"> <h5 class="text-white pl-2 rounded pt-1 pb-1" style="background-color: #004481;">Edita tu contraseña</h5>
          <div class="form-group">
            <paper-input type="password" label="Password" value="{{password::input}}" id="password"></paper-input>
          </div>
          <div class="form-group">
            <paper-input type="password" label="Confirmar Password" value="{{confirm_password::input}}" required id="confirm_password" ><span id='alert'></span></paper-input>
          </div>
          <div class="text-center">
            <button class="btn btn-primary btn-block" on-click="editPwd">Editar contraseña</button>
          </div>
        </div>
    </div>
  </div>



    <!--la funcion manejadora es showData-    -->
    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/mybalance/users/{{id}}"
      content-type="application/json"
      method="GET"
      handle-as="json"
      on-response="showData"

    >
    <iron-ajax
      id="putUser"
      url="http://localhost:3000/mybalance/users/{{id}}"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
    <iron-ajax
      id="putUserPwd"
      url="http://localhost:3000/mybalance/users/{{id}}/pwd"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EditarUsuario extends Polymer.Element {
      static get is() { return 'editar-usuario'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          id : {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name:{
            type: String
          },
          address: {
            type: String
          },
          zip_code: {
            type: String
          },
          city: {
            type: String
          },
          country: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          logged: {
            type: Boolean
          }
      };
    }

      showData(data){ /**es lo que devuelve la función de iron-ajax y nos lo pasa como texto en json**/
        if (localStorage.isLogged == "true"){
          this.id = data.detail.response[0].id;
          this.first_name = data.detail.response[0].first_name;
          this.last_name = data.detail.response[0].last_name;
          this.email = data.detail.response[0].email;
          this.address = data.detail.response[0].address;
          this.city = data.detail.response[0].city;
          this.zip_code = data.detail.response[0].zip_code;
          this.country = data.detail.response[0].country;
          this.logged = data.detail.response[0].logged;

          this.$.receiver.id = this.id;
          //this.$.receiver.isLogged = this.isLogged;
        }else {
          window.location = "/login";
        }
      }

      editUser(){
            console.log("El usuario ha pulsado el botón de edición de datos");
            var userData = {
              "first_name":this.first_name,
              "last_name":this.last_name,
              "address":this.address,
              "zip_code":this.zip_code,
              "city":this.city,
              "country":this.country,
              "email":this.email
            };
            this.$.putUser.body=JSON.stringify(userData); //convertimos el objeto a un JSON y se lo pasamos al Body
            this.$.putUser.generateRequest(); //lanzamos la petición. El $ es para acceder a elementos propios del ShadowDom del polymer
            console.log("Petición editUser enviada");
      }

      editPwd(){
            console.log("El usuario ha pulsado el botón de edición de contraseña");

            if(this.password!=this.confirm_password){
              alert("Passwords tienen que ser iguales");
              return 1;
            }

            var pwdData = {
              "password":this.password
            };
            this.$.putUserPwd.body=JSON.stringify(pwdData); //convertimos el objeto a un JSON y se lo pasamos al Body
            this.$.putUserPwd.generateRequest(); //lanzamos la petición. El $ es para acceder a elementos propios del ShadowDom del polymer
            console.log("Petición editPwd enviada");
      }


      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        //window.location = "/user/" + this.id ;
        window.location = "/user/" + this.id + "/updated" ;
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(EditarUsuario.is, EditarUsuario);
  </script>
</dom-module>
