<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="salud-financiera">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" type="text/css">

<navigation-bar id="receiver"></navigation-bar>

<div class="container">
  <div class="jumbotron">
    <h2>Mi Salud Financiera</h2><!-- <button class="btn btn-success" on-click="logout">Logout</button>-->

    <div class="container card mb-3">

      <div class="card-body">
        <div class="card-header">
          <i class="fa fa-table"></i>Estado actual de mis cuentas</div>
          <div class="card-body">
          <div class="table-responsive">

              <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0">

                <thead>
                  <tr>
                    <th>Iban</th>
                    <th class="text-center">Saldo (€)</th>
                    <th class="text-center">Ingresos (€)</th>
                    <th class="text-center">Gastos (€)</th>
                  </tr>
                </thead>
                <template is="dom-repeat" items="{{accounts}}">
                <tbody>
                  <tr>
                    <td>{{item.iban}}</td>
                    <td class="text-center">{{item.balance}}</td>
                    <td ><p class="text-success text-center" ><strong>{{item.ingresos}}</strong></p></td>
                    <td ><p class="text-warning text-center"><strong>{{item.gastos}}</strong></p></td>
                  </tr>
                </tbody>
              </template>
              </table>
            </div>
              </div>
          </div>


        </div>

  </div>
</div>



    <!--la funcion manejadora es showData-->
    <iron-ajax
      auto=""
      id="getAggregation"
      url="http://localhost:3000/mybalance/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SaludFinanciera extends Polymer.Element {
      static get is() { return 'salud-financiera'; } /**etiqueta que se pone en el html*/
      static get properties() {
        return {
          userid:{
            type: Number
          },
          iban: {
            type: String
          },
          balance:{
            type: Number
          },
          ingresos:{
            type: Number
          },
          //accounts:{
          //  type: Array
          //},
          //isLogged :{
          //  type: Boolean,
          //  value: true
          //}
          gastos:{
            type: Number
          },
          logged:{
            type: Boolean
          }
        };
      }

      showData(data){ /**es lo que devuelve la función de iron-ajax y nos lo pasa como texto en json**/
        if (localStorage.isLogged == "true"){
        console.log(data);
        console.log(data.detail.response);
        this.accounts = data.detail.response;
        //console.log("this.iban - "+this.accounts[0].iban );
        this.$.receiver.id = this.userid;
        this.$.receiver.iban = this.accounts[0].iban;
        this.$.receiver.isLogged = this.isLogged;
        }
        else{
          console.log("2_localStorage.isLogged - "+localStorage.isLogged);
          window.location = "/login";

          }

      }


      showError(error){
        console.log("Hubo un error");
        console.log(error);

      }


    }

    window.customElements.define(SaludFinanciera.is, SaludFinanciera);
  </script>
</dom-module>
